{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-remove-console", "transform-es3-member-expression-literals", "transform-es3-property-literals", "transform-decorators-legacy"]
}
