{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage", // or "entry"
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "transform-es3-member-expression-literals",
        "transform-es3-property-literals",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
}
